<a href="https://colab.research.google.com/github/galalalala/10708-project-22fa/blob/main/Group_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
%cd /content/drive/MyDrive/CMU/10718/

/content/drive/MyDrive/CMU/10718

In [4]:
import numpy as np
import pandas as pd

In [47]:
outcome = pd.read_csv("/content/drive/MyDrive/CMU/10718/donors_choose_2014_raw_CSVs/outcomes.csv")
project_df = pd.read_csv("/content/drive/MyDrive/CMU/10718/donors_choose_2014_raw_CSVs/projects.csv")
resource_df = pd.read_csv("/content/drive/MyDrive/CMU/10718/donors_choose_2014_raw_CSVs/resources.csv")

In [6]:
outcome

,projectid,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,ffffc4f85b60efc5b52347df489d0238,f,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
1,ffffac55ee02a49d1abc87ba6fc61135,f,f,t,t,f,t,f,f,57.0,0.0,7.0
2,ffff97ed93720407d70a2787475932b0,f,f,t,t,t,t,t,f,100.0,0.0,3.0
3,ffff418bb42fad24347527ad96100f81,f,f,f,t,t,f,f,f,100.0,0.0,1.0
4,ffff2d9c769c8fb5335e949c615425eb,t,t,t,t,t,f,t,f,63.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
619321,0000ee613c92ddc5298bf63142996a5c,f,t,t,t,f,t,t,f,0.0,2.0,4.0
619322,0000b38bbc7252972f7984848cf58098,f,f,t,t,f,f,t,f,50.0,0.0,2.0
619323,00002d691c05c51a5fdfbb2baef0ba25,f,f,f,f,t,t,f,f,100.0,0.0,5.0
619324,00002bff514104264a6b798356fdd893,f,f,t,t,f,f,t,f,50.0,0.0,2.0
619325,00001ccc0e81598c4bd86bacb94d7acb,f,f,t,t,f,t,t,f,33.0,0.0,3.0

In [26]:
total_projects = int(len(outcome))

top_10 = np.random.randint(0, int(total_projects), int(total_projects * 0.1))
outcome_10 = outcome.iloc[top_10]
not_funded = ((outcome_10["fully_funded"] == 'f').astype(int)).sum()

# percent of not funded
print(not_funded / len(outcome_10))

0.3081121229735839

In [49]:
out_df = outcome[["projectid", "fully_funded"]]
data = out_df.join(project_df.set_index('projectid'), on='projectid', how='inner', lsuffix='_left', rsuffix='_right')
data.sort_values(by=['total_price_excluding_optional_support'], inplace=True, ascending=False)
data_10 = data.iloc[np.arange(int(len(data) * 0.1))]
not_funded = ((data_10["fully_funded"] == 'f').astype(int)).sum()
print(not_funded / len(data_10))

0.4987728476393464

In [51]:
out_df = outcome[["projectid", "fully_funded"]]
data = out_df.join(project_df.set_index('projectid'), on='projectid', how='inner', lsuffix='_left', rsuffix='_right')
data.sort_values(by=['students_reached'], inplace=True, ascending=False)
data_10 = data.iloc[np.arange(int(len(data) * 0.1))]
not_funded = ((data_10["fully_funded"] == 'f').astype(int)).sum()
print(not_funded / len(data_10))

0.33510947490796356